<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>cust_by_acct</servlet-name>
        <servlet-class>cust_by_acct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cust_by_acct2</servlet-name>
        <servlet-class>cust_by_acct2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MyDB</servlet-name>
        <servlet-class>MyDB</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>signin</servlet-name>
        <servlet-class>signin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>createAccount</servlet-name>
        <servlet-class>createAccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>searchOneWay</servlet-name>
        <servlet-class>searchOneWay</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>buyOneWay</servlet-name>
        <servlet-class>buyOneWay</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>tabs</servlet-name>
        <servlet-class>tabs</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>searchRoundTrip</servlet-name>
        <servlet-class>searchRoundTrip</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MyDB</servlet-name>
        <url-pattern>/MyDB</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>signin</servlet-name>
        <url-pattern>/signin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>createAccount</servlet-name>
        <url-pattern>/createAccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>searchOneWay</servlet-name>
        <url-pattern>/searchOneWay</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>buyOneWay</servlet-name>
        <url-pattern>/buyOneWay</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>tabs</servlet-name>
        <url-pattern>/tabs</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>searchRoundTrip</servlet-name>
        <url-pattern>/searchRoundTrip</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>cust_by_acct</servlet-name>
        <url-pattern>/cust_by_acct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cust_by_acct2</servlet-name>
        <url-pattern>/cust_by_acct2</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
