<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>MyDB</servlet-name>
        <servlet-class>MyDB</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>signin</servlet-name>
        <servlet-class>signin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cust_by_acct</servlet-name>
        <servlet-class>cust_by_acct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cust_by_acct2</servlet-name>
        <servlet-class>cust_by_acct2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cust_rep_flight_sug</servlet-name>
        <servlet-class>cust_rep_flight_sug</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MyDB</servlet-name>
        <url-pattern>/MyDB</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>signin</servlet-name>
        <url-pattern>/signin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cust_by_acct</servlet-name>
        <url-pattern>/cust_by_acct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cust_by_acct2</servlet-name>
        <url-pattern>/cust_by_acct2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cust_rep_flight_sug</servlet-name>
        <url-pattern>/cust_rep_flight_sug</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
